body {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  /* font-family: 'Mr Bedfort', serif; */
  font-family: 'Noto Serif', serif;
  background-image: url("https://image.freepik.com/free-photo/composition-of-popcorns_23-2147689652.jpg");
}

#headerContainer {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1, h2 {
  font-family: 'Mr Bedfort', serif;
}

.navbar-brand {
  font-family: 'Mr Bedfort', serif;
}

.brandPhoto {
  max-height: 25px;
}

footer {
  background-color: #ef8b8b;
  opacity: .75;
  position: absolute;
  width: 100%
}


#mainArea {
  margin-top: 15px;
  max-width: 90%;
  background-color: white;
  min-height: 85vh;
  border-style: double;
  border-width: 5px;
  border-color: #ef8b8b;
  margin-bottom: 25px;
}

a {
  color: black;
}

#home {
  padding-top: 10px;
}

.registerForm, .loginForm, .findFriendForm {
  max-width: 70%;
}

.forms {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 25%;
  margin-right: auto;
}

.createAccount, .login {
  margin-top: 15px;
}

.displayTitle {
  font-weight: 600;
}

.resultContainer {
  margin-top: 10px;
}

#infoArea {
  padding-top: 15px;
}

.ratingArea {
  margin-top: 7px;
  background-color: #ef8b8b;
  padding: 10px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

.noList {
  margin-top: 10px;
}

.btn {
  margin-top: 5px;
}

#friendListArea, #newsFeedArea {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #ef8b8b;
  border-width: 3px;
  min-height: 200px; 
}

#friendList {
  padding-top: 10px;
}

.findFriend {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.redLink {
  color: #ef8b8b;
}

#newsFeed {
  min-width: 100%;
}

.nav-link {
  background-color: #ef8b8b;
}

.popcornRating {
  max-height: 35px;
}

#randomButton {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  border-style: solid;
  border-color: #ef8b8b;
  border-radius: 10px;
}

.searchInfo {
  margin-top: auto;
  margin-bottom: auto;
}

.posterForSearch {
  max-width: 200px;
}

#loadingSpinner {
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}